:root{
    --bgClr : #D6CDA4;
    --secClr : #E6E6E6;
    --highlight : #E7A600;
    --fontClr : #000000;

}

@font-face {
    font-family:'nunito' ;
    src: url(./fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family : nunito;
}

body{
    color : var(--fontClr);
    background-color: var(--bgClr);

}

.sec{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.topLogo{
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    left : 100px;
    top:50%;
    transform: translateY(-50%);
}

.navBar{
    display: inline-block;
    position: absolute;
    top : 10px;
}

.navBar ul{
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right : 350px;
}

.navBar ul li{
    display: inline-block;
    list-style: none;
    margin-right: 60px;
}

.navBar ul li a{
    text-decoration: none;
    color: var(--fontClr);
    font-weight: 700;
    font-size: 17px;
}

.navBar .searchBar{
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right :100px;
}

.navBar .searchBar input{
    width: 250px;
    height: 25px;
    background-color: var(--highlight);
    
}

.neo{
    border: 3px solid black;
    box-shadow: 3px 3px;
    border-radius: 3px;
}

.navBar{
    /* background-color: #fff; */
    width: 100%;
    height: 100px;
}

.searchBtn{
    position: absolute;
    width: 17px;
    top:50%;
    transform: translateY(-50%);
    right : 10px;
}

.rightCircle{
    background-color: var(--secClr);
    width: 130vh;
    height: 130vh;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    right: -10%;
    top: 18%;
}
.sec1{
    border-bottom: 3px solid var(--fontClr);
}
.sec1 .textArea {
    font-weight: bold;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 27%;
    /* background-color: #fff; */
    text-align: center;
    left:200px;
    text-align: center;
}

.sec1 .textArea .title{
    font-size: 70px;
    line-height: 80px;
}

.sec1 .textArea .content{
    margin-top: 15px;
    font-size: 20px;
    width: 90%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.menuBtn{
    width: 130px;
    height: 90px;
    background-color: var(--highlight);
    border-radius: 50%;
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 25px;
    font-size: 26px;
}
.menuBtn img{
    position: absolute;
    left:0%;
    top:0%;
    width: 130px;
}

.arrowBack{
    width: 200px;
    position: absolute;
    bottom: 90px;
    left: 150px;
}

.secTitle{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
}

.secSubTitle{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}
.slideContainer{
    /* background-color: #fff; */
    width: 100%;
    height: 60vh;
    margin-top: 30px;
    position: relative;
}

.slider{
    /* background-color: #cbcbcb; */
    width: 75%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4%;
}

.foodBox{
    height: 100%;
    background-color:var(--secClr);
    position: relative;
}

.foodBox .foodImg{
    background-color: var(--bgClr);
    width: 100%;
    height: 62%;
    position: relative;
    border-bottom: 3px solid var(--fontClr);
    
}

.foodBox .foodText{
    text-align: center;
    margin-top: 15px;

}
.foodBox .foodText .foodTitle{
    color: var(--dlight);
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.foodBox .foodText .foodPrice{
    color:var(--llight);
    margin-top: 5px;
    font-size: 17px;
}

.foodBox  .addToPlateBtn{
    background-color:var(--highlight);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    padding: 5px;
    color: var(--dgreen);
    width: 30%;
    font-weight: bold;
    
}

.slideBtn{
    position: absolute;
    background-color: var(--secClr);
    width: 70px;
    height : 70px;
    border-radius: 50%;
    top : 50%;
    transform: translateY(-50%);
}

.slideBtn img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.slideLeftBtn{
    left: 3%;
}

.slideLeftBtn img{
    left:20%;
}

.slideRightBtn{
    right: 3%;
}

.slideRightBtn img{
    right: 20%;
}


.sliderDots{
    width: 20%;
    height: 20px;
    background-color: #fff;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -60px;
    text-align: center;
}

.sliderDots div{
    display: inline;
    width:1px;
    height:1px;
    border: 2px solid black;
    background-color: var(--secClr);
    border-radius: 50%;
    list-style: none;
    margin: 0 10px 0 10px;
}
